nodetype: {{ nodetype }}
city: {{ city }}
country: {{ country }}
country_code: {{ country_code }}
entity: {{ entity }}
office_name: {{ office_name }}
street_address: {{ street_address }}
postal_code: {{ postal_code }}
habitat: {{ habitat }}
